.conteudo {
    grid-area: conteudo;
    padding: 0 2rem;
}

.populares {
    padding:  3rem 0;
}


  .rodape {
      background: #fdfdfd;
      color: #333333;
      font-size: .8rem;
      grid-area: rodape;
      padding: 1rem;
      text-align: center;
  }